/backend/BaoHiemYTe/BaoHiemYTe.sln/appsettings.json
/backend/BaoHiemYTe/.vs
/frontend/bhtruongtho/node_modules
/backend/BaoHiemYTe/BaoHiemYTe/bin
/backend/BaoHiemYTe/BaoHiemYTe/obj
/backend/BaoHiemYTe/BaoHiemYTe/appsettings.json
appsettings.json
backend/BaoHiemYTe/BaoHiemYTe/appsettings.json
backend/BaoHiemYTe/BaoHiemYTe/appsettings.json
